name: HREF Hodograph Grid Update

on:
  schedule:
    - cron: '30 4,16 * * *'
  workflow_dispatch:

jobs:
  build-hodographs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libs
        run: |
          sudo apt-get update
          sudo apt-get install -y libeccodes-dev
          pip install numpy matplotlib cartopy pygrib metpy requests pytz

      - name: Run Script
        run: python SPC_HODO_GRID.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull --rebase origin main
          
          # Force add files to ensure they are tracked
          git add -f hodo_data/*.png
          
          # Force commit even if Git thinks they are similar
          git commit -m "Dynamics Refresh $(date)" --allow-empty
          git push origin main
